<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIAppFonts</key>
    <array>
        <string>NotoSansTC-Regular.otf</string>
        <string>NotoSansTC-Bold.otf</string>
        <string>NotoSansTC-Medium.otf</string>
        <string>NotoSansTC-Light.otf</string>
        <string>NotoSansTC-Thin.otf</string>
        <string>NotoSansTC-Black.otf</string>
    </array>
    <key>NSUbiquitousContainers</key>
    <dict>
        <key>iCloud.com.adi.nomis</key>
        <dict>
            <key>NSUbiquitousContainerIsDocumentScopePublic</key>
            <true/>
            <key>NSUbiquitousContainerName</key>
            <string>Nomis</string>
            <key>NSUbiquitousContainerSupportedFolderLevels</key>
            <string>None</string>
        </dict>
    </dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>YOUR-FIREBASE-REVERSED-CLIENT-ID</string>
            </array>
        </dict>
    </array>
</dict>
</plist> 